.nav-right
{
    position: absolute;
    left: 90% !important;
    width: 100%;
}

.fixed-top
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.container-fluid
{
    padding: 0% !important;
    margin: 0% !important;
}

.div-content
{
   padding-top:10px; 
}

.nav-pills, .nav-link
{
    border-radius: 0px !important;
}

.nav-menu-vertical
{
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    line-height: 2;
}
  